// CSS Reset
@import "../../../media/jui/less/reset.less";

// Core variables and mixins
@import "variables.less"; // Custom for this template
@import "../../../media/jui/less/mixins.less";

// Grid system and page structure
@import "../../../media/jui/less/scaffolding.less";
@import "../../../media/jui/less/grid.less";
@import "../../../media/jui/less/layouts.less";

// Base CSS
@import "../../../media/jui/less/type.less";
@import "../../../media/jui/less/code.less";
@import "../../../media/jui/less/forms.less";
@import "../../../media/jui/less/tables.less";

// Components: common
// @import "../../../media/jui/less/sprites.less";
@import "../../../media/jui/less/dropdowns.less";
@import "../../../media/jui/less/wells.less";
@import "../../../media/jui/less/component-animations.less";
@import "../../../media/jui/less/close.less";

// Components: Buttons & Alerts
@import "../../../media/jui/less/buttons.less";
@import "../../../media/jui/less/button-groups.less";
@import "../../../media/jui/less/alerts.less"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
@import "../../../media/jui/less/navs.less";
@import "../../../media/jui/less/navbar.less";
@import "../../../media/jui/less/breadcrumbs.less";
@import "../../../media/jui/less/pagination.less";
@import "../../../media/jui/less/pager.less";

// Components: Popovers
@import "../../../media/jui/less/modals.less";
@import "../../../media/jui/less/tooltip.less";
@import "../../../media/jui/less/popovers.less";

// Components: Misc
@import "../../../media/jui/less/thumbnails.less";
@import "../../../media/jui/less/labels-badges.less";
@import "../../../media/jui/less/progress-bars.less";
@import "../../../media/jui/less/accordion.less";
@import "../../../media/jui/less/carousel.less";
@import "../../../media/jui/less/hero-unit.less";

// Utility classes
@import "../../../media/jui/less/utilities.less";

// RESPONSIVE CLASSES
// ------------------

@import "../../../media/jui/less/responsive-utilities.less";


// MEDIA QUERIES
// ------------------

// Phones to portrait tablets and narrow desktops
@import "../../../media/jui/less/responsive-767px-max.less";

// Tablets to regular desktops
@import "../../../media/jui/less/responsive-768px-979px.less";

// Large desktops
@import "../../../media/jui/less/responsive-1200px-min.less";


// RESPONSIVE NAVBAR
// ------------------

// From 979px and below, show a button to toggle navbar contents
@import "../../../media/jui/less/responsive-navbar.less";

// Extended for JUI
@import "../../../media/jui/less/bootstrap-extended.less"; // Has to be last to override when necessary

// Icon Font
@import "icomoon.less";











/* Evol Site Body Styles */

.html {
    height: 100%;
}

body.site{
	//border-top:3px solid #0088cc;
	//padding: 20px;
	//background-color: #608ebf;

    background-image: url(../images/background.jpg);
    background-repeat:no-repeat;
    //background-attachment:fixed;
    background-position:center top;
    height: 100%;

    p {
        color:#332100;
    }
}

body.site.fluid{
	background-color: #608ebf;
    height: 100%;
}
.thumbnail {
	margin-bottom:9px;
}
.accordion-group {
	background:#fff;
}
.select[multiple], select[size] {
	height:28px;
}
/* Site Title (if no logo) */
.site-title {
	font-size: 40px;
	line-height: 48px;
	font-weight: bold;
}
.brand {
	color: darken(@linkColor, 20%);
	.transition(color .5s linear);
}
.brand:hover {
	color: @linkColor;
	text-decoration: none;
}







/* Evol Header */
.header{
    //padding-left: 5px;
    //margin-right: -20px;
    //padding-right: 20px;

    //max-width: 100%;
    overflow: visible;

    .brand {
        overflow: hidden;
        max-width: 100%;

    }
}
.header .finder {
	margin-top: 14px;
}
.header .finder .btn{
	margin-top: 0px;
}





/* Evol header overlay */
.header .headeroverlay {

    //position: relative;
    //top: -262px;
    //margin-bottom: -262px;
    //height:263px;
    width: 1055px;
    position: relative;
    //padding-left:250px;
    top: -263px;
    margin-bottom: -339px;
    left: 0px;
    z-index: 5;
    pointer-events: none;

}




/* Evol footer */
.footer {
    hr {
        border: 0px;
        height: 0px;
        background-color: #000000;
        color: #000000;
    }

    a {
        color: #151515;
        text-decoration: none;

    }
}




/* Evol horizontal border */

.horizontal-border {
    height: 15px;
    position: relative;
    //background-color: #FFFFFF;
    background-image: url(../images/border_x.png);
    background-repeat: repeat-x;

    //z-index: 2;
    //padding-right: 20px;

    //margin-right: -20px;



}








/* Evol Nav */
.navigation{
	//padding: 5px 0;
	//border-top: 1px solid rgba(0, 0, 0, 0.075);
	//border-bottom: 1px solid rgba(0, 0, 0, 0.075);
	//margin-bottom: 10px;

}
.navigation .nav-pills{
	margin-bottom: 0;
}
/* Hero Banner Unit */
.hero-unit{
	background-color: #08C;
}
.hero-unit > *{
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}







/* Evol Breadcrumbs */
.navigation .breadcrumb {

    position: relative;

    top: -12px;
    left: 150px;

    background: transparent;

    background-image: url(../images/background_breadcrumbs.png);
    background-position: center;
    background-repeat:no-repeat;
    //background-color: #151515;

    z-index:3;

    border-radius: 0px;



    width:716px;
    padding-left:20px;
    padding-right:20px;
    padding-top: 0px;
    padding-bottom: 0px;
    height:52px;

    // old margin
    margin-top: 4px;
    margin-left: 0;
    margin-right: -100px;
    margin-bottom: -7px;

    //margin: 10px 0;
    line-height:42px;
    color: #d3b378;

//text-shadow: 2px 2px #ff0000;
text-decoration: none;


li {
    text-shadow: 0px 1px #000000;
}

a {
    color: #d3b378;
    font-weight:bold;
    text-decoration: none;
        &:hover {   //border-width: 1px;
            font-weight:bold;
            text-decoration: underline;
        }
    }

}









/* Evol Container */

.page-header {

    padding-top: 5px;
    padding-bottom: 0px;
    border: 0px;


    h2 {
        font-size: 14px;
        line-height: 28px;
        font-weight: bold;
        letter-spacing: 0px;

        &:first-letter {
            text-transform: uppercase;
            font-weight: extra-bold;
            font-size: 400%;
        }
    }
}

// Don't override blog h2
.blog {

    h2 {
        font-size: 22px;
        line-height: 28px;
        font-weight: normal;
        letter-spacing: normal;

        &:first-letter {
            text-transform: normal;
            font-weight: normal;
            font-size: 22px;
        }
    }
}


.container{
	max-width: 954px;
    height: 100%;
}
.body .container{

    // background-image: url(../images/border_bottom.png), url(../images/border_y.jpg), url(../images/border_y.jpg);
    // background-position: bottom, left, right;
    // background-repeat: no-repeat, repeat-y, repeat-y;
    // background-position: 0 100.1%, 0 0, 100% 0;

    background-image: url(../images/border_y.jpg), url(../images/border_y.jpg);
    background-position: left, right;
    background-repeat: repeat-y;

    background-color: #151515;
	//border-radius: 4px;
    //padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
	//padding: 20px;
    border-top: 0px;
    //border-left: 1px solid rgba(0, 0, 0, 0.15);
    //border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	//border: 1px solid rgba(0, 0, 0, 0.15);

    box-shadow: 1px 1px 6px #000000; //rgba(0, 0, 0, 1);


}


.row-fluid {
    height: 100%;

}

/* Evol Chat */

.span9{
    background-color: #d3b378;
    background-image: url(../images/background_article.png);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    height: 734px;
    //margin-left: 40px;
    //width: 100px;
    //margin-right: 20px; // ouch


    /* Evol article headers */
    .page-header {
      padding-bottom: 0px;
      margin: 13px 0 27px;
      // border-bottom: 1px solid #eeeeee;
  }

  .item-page {
    min-height: 850px;
}

}











/* Evol Articles */

.span6{
    background-color: #d3b378;
    background-image: url(../images/background_article.png);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
    min-height: 100%;
    //min-height: 1000px;
    //margin-right: 20px; // ouch

    min-width: 505px;

    /* Remove Details word */
    .article-info-term {
        display: none;
    }

    .published {
        color: #332100;
        text-decoration: underline;

        .icon-calendar {
            display: none;
        }
    }

    /* Evol article headers */
    .page-header {
      padding-bottom: 0px;
      margin: 13px 0 27px;
      // border-bottom: 1px solid #eeeeee;

  }

  legend {
        //background-color: #000000;
        border: 0;
    }

    .item-page {
        min-height: 850px;
    }
}




/* Read More */
.readmore {
    .btn {
        -webkit-box-shadow: none;
        // -webkit-transition-delay: 0s;
        // -webkit-transition-duration: 0.10000000149011612s;
        // -webkit-transition-property: background-position;
        -webkit-transition-timing-function: none;
        background-color: transparent;
        background-image: none;

        text-decoration: none;
        border: none;
        box-shadow: none;
        text-shadow: none;

        vertical-align: middle;

    }

    a:hover {
        //font-weight: bold;
        text-decoration: underline;
            //text-shadow: rgba(0, 0, 0, 0.746094) 0px 1px 1px;
    }
}






.registration {

    min-height: 850px;

    .form-actions {
        background-color: transparent;
        border: 0;
    }
}




/* Evol forums */
.span12{
    background-color: #d3b378;
    background-image: url(../images/background_article.png);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    // padding-top: 10px;
    position: relative;
    left: 10px;
    max-width: 919px;
    //margin-right: 20px; // ouch



    .well {

        padding-bottom: 0px;


        #form-login-username {
            float: left;
            padding-right: 20px;
        }

        #form-login-password {
            float: left;
            padding-right: 20px;
        }

        #form-login-remember {
            //clear: top;
            //clear: both;
            float: left;
            padding-right: 20px;
            padding-top: 5px;

            .control-label {
                float: left;
                padding-right: 10px;
            }

            #modlgn-remember {
                float: right;
                margin-top: 2px;
            }
        }

        #form-login-submit {
            //clear: right;
            float: left;
            padding-right: 20px;
        }

        .unstyled {
            //clear: left;
            float: right;
        }

        .logout-button {
            float: right;
        }

    }

}

.alert {
    margin-bottom: 40px;
}










/* Overwrite Kunena stuff */

#Kunena li.kpost-smallicons .kicon-profile {
    display: none !important;
}

#Kunena .kforum-pathway {
    display: none;
}
#Kunena .kforum-pathway-bottom {
    display: none;
}

#Kunena #ktop {
    margin-top: -31px;
    //padding-top: -31px;
    //position: relative;
    //top: -31px;
    //margin-bottom: -31px;
}

#Kunena .kbody {
    //change this to transparent
    background-color: rgba(255, 255, 255, 0.8) !important;

}


#Kunena {
    color:#332100 !important;
}


#Kunena a {
    // text-decoration: none;
    // color: #000000 !important;
    &:link{

        color:#332100 !important;
    }
    &:active {
        color:#332100;
    }
    &:visited {
        color:#332100 !important;
    }
}

#Kunena div.kblock {

    background-color: rgba(255, 255, 255, 0) !important;
    //margin: 10px !important;
    //padding-top: 10px;

    // box-shadow: 1px 1px 6px #000000; //rgba(0, 0, 0, 1);

    // div.kbody {
    //     border-color: #000000 !important;
    // }

        div.kheader {
            //background-color: #000000 !important;

            background-color:  #213a21 !important;
            background-image: url('../images/forum-bar-test.png') !important;
            height: 40px;
            //background: #416d30 !important; /* Old browsers */
            //background: -webkit-linear-gradient(top,  #416d30 0%,#739467 59%,#416d30 61%,#213a21 100%) !important;
            //background: linear-gradient(top,  #416d30 0%,#739467 59%,#416d30 61%,#213a21 100%)

            a {
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
            }

            h2 {
                padding-top: 8px;
                //color: #000000 !important;
                //text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            }
        }

}

#Kunena #ktab {

    a {


        background: #598448; /* Old browsers */
        background: -webkit-linear-gradient(top,  #598448 0%,#385d2a 2%,#385d2a 55%,#1e3f18 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #598448 0%,#385d2a 2%,#385d2a 55%,#1e3f18 100%); /* Opera 11.10+ */
        background: linear-gradient(to bottom,  #598448 0%,#385d2a 2%,#385d2a 55%,#1e3f18 100%); /* W3C */

        &:hover {
            background: #d2b277;


            background: -webkit-linear-gradient(top,  #d2b277 0%,#d2b277 55%,#ba9d55 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #d2b277 0%,#d2b277 55%,#ba9d55 100%); /* Opera 11.10+ */
            background: linear-gradient(to bottom,  #d2b277 0%,#d2b277 55%,#ba9d55 100%); /* W3C */

        }

    }

    #current a {

        background: #d2b277 !important;


    }


}


#Kunena .kcol-first {
    //background-color: #000000 !important;

    .kicon.kreadforum {
        //background-color: #000000 !important;
        background-image: url('../images/forum-piou.png');
        background-size: 100%;
    }

    .kicon.kunreadforum {
        background-image: url('../images/forum-piou-purple.png');
        background-size: 100%;

    }
}

#Kunena .knewchar {
    color: #bc40f3 !important;
}

// #Kunena table.kblocktable {
//     border-color: #000000 !important;
// }
















/* Evol left menu */
.span3 .left-container{

    background-image: url(../images/background_leftmenu.png);
    background-position: right top;
    background-repeat: repeat-y;

    box-shadow: 1px 1px 6px #000000; //rgba(0, 0, 0, 1);

    border-radius: 0px;

    position: relative;
    top: -49px;
    margin-bottom: -49px;

    margin-right: 0px;

    //color: #ffffff;

    height: 844px;

        //background-image: url(../images/leftmenu_shadow_right.png);
    //background-position: right;

    li {
        padding-bottom: 10px;
    }


}

.span3 .left-leaves {
    position: relative;
    top: -25px;
    left: -21px;
    margin-bottom: -25px;
    width: 143;

    z-index: 6;
    pointer-events: none;
    //margin-right: -100px;
    //padding-right: 0px;

}


.span3 .sidebar-nav {

    position: relative;
    //float: top;
    top: -350px;
    width: 210px;
    padding-left: 25px;
    margin: 0;

    border-radius: 0px;

}

.left-leaves-bottom {
    //position: absolute;


    position: relative;
    margin-top: -60px;
    left: -47px;

    z-index: 6;
    pointer-events: none;
}


/* Left side Subnavs */
#sidebar .nav .nav-child {
    //border-left: 2px solid @tableBorder;
    //padding-left: 5px;

    padding: 0;
    margin: 0;
}

#sidebar a {
        //background-color: #000000;
        background-image: url(../images/button.png);
        background-repeat: no-repeat;

        //display: block;

        &:hover {
            background-color: transparent;
            background-image: url(../images/button_rollover.png);
        }
    }

    #sidebar .current a {
        background-color: transparent;
        background-image: url(../images/button_rollover.png);
    }

    .well{
    //width: 217px;
    //background-color: #608ebf;

    // background-image: url(../images/background_leftmenu.png);
    // background-repeat:no-repeat;
    //background-attachment:fixed;
    //background-position:center top;

    background:transparent;

    .border-radius(0px);

    //width: 217;

    border: 0;
    margin: 0;


    //padding-left: 40px;
    //padding-right: 10px;
}




.span3 .right-container {
    //width: 100px;
    padding: 0px;
}

#aside {
    width: 190px;
    padding: 0px;
    margin: 0px;
}

/* Evol right sidebar */

.right-container .well  {

    //padding: 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 0px;
    padding-bottom: 10px;


    //background-color: #ffffff;
    //padding-right: 5px;
    //padding-left: 5px;
    //padding-bottom: 0px;

    .nav {
        //background-color: #ffffff;
        padding-bottom: 0px;
        margin-bottom: 0px;

        a {

            background-color: transparent;
            background-image: url(../images/download.png);
            background-repeat: no-repeat;

            &:hover {
                background-color: transparent;
                background-image: url(../images/download_rollover.png);
                background-repeat: no-repeat;
            }

        }

        .current a {
            background-color: transparent;
            background-image: url(../images/download_rollover.png);
            background-repeat: no-repeat;
        }

    }

}




/* Follow us */

#cwsociallinks1 {
    width: 173px;
    //float: left;
    left: 0px;
    margin-left: 1px;
}



/* Evol Guy and Girl */

.pusherbox {
    //background-image: url(../images/background_leftmenu.png);
    //background-color: white;
    width: 20px;
    //color: #000000;
    float:right;
    height:10px;
    z-index: 6;
}


.right-sidebar-bottom {

    position: relative;
    float: right;
    clear: right;
    width: 411px;
    //margin-top: -480px;
    right: -200px;
    bottom: -22px;
}


































/* Not Evol */

/* Wells */
.well .page-header{
	margin: 0px 0px 5px 0px;
}
/* Headings */

h1, h2, h3, h4, h5, h6 {
    margin: (@baseLineHeight / 1.5) 0;
    color:#332100;
}
h1 {
    font-size: 14px;
    line-height: 28px;
    font-weight: bold;
    letter-spacing: 0px;

    &:first-letter {
        text-transform: uppercase;
        font-weight: extra-bold;
        font-size: 400%;
    }

}
h2 { font-size: 22px; line-height: 24px; }
h3 { font-size: 18px; line-height: 20px; }
h4 { font-size: 14px; line-height: 16px; }
h5 { font-size: 13px; line-height: 15px; }
h6 { font-size: 12px; line-height: 14px; }






/* Module */
.module-header {
	padding-bottom: 17px;
	margin: 20px 0 18px 0;

    //Evol
	//border-bottom: 1px solid #eeeeee;

}
/* Single Item */
.item-title {
	margin-bottom:9px;
}
.item-content {
	margin:18px 0;
}
.item-subtitle {
	margin-bottom:9px;
}
.pull-right.item-image {
	margin:0 0 18px 20px;
}
.pull-left.item-image {
	margin:0 20px 18px 0;
}
.header .nav > li:last-child > .dropdown-menu,
.item-actions .dropdown-menu,
.item-comment .dropdown-menu {
	left:initial;
	right:0;
}
.article-index {
	margin:0 0 10px 10px;
}
/* List */
.list-item-title {
	margin-bottom:9px;
}
.list-item-content {
	margin:18px 0;
}
.list-item-subtitle {
	margin-bottom:9px;
}
/* More Items */
.items-more,
.content-links {
	padding: 15px 0;
}











/* Caption fixes */
.img_caption .left {
	float: left;
	margin-right: 1em;
}

.img_caption .right {
	float: right;
	margin-left: 1em;
}

.img_caption .left p {
	clear: left;
	text-align: center;
}

.img_caption .right p {
	clear: right;
	text-align: center;
}

.img_caption  {
	text-align: center!important;
}

.img_caption.none {
	margin-left:auto;
	margin-right:auto;
}
/* Aside Subnavs */
#aside .nav .nav-child {
	border-left: 2px solid @tableBorder;
	padding-left: 5px;
}



/* Navigation Submenus */
// The dropdown menu (ul)
// ----------------------
.navigation {
	.nav-child {
		position: absolute;
		top: 95%;
		left: 0;
		z-index: @zindexDropdown;
		display: none; // none by default, but block on "open" of the menu
		float: left;
		min-width: 160px;
		padding: 5px 0;
		margin: 2px 0 0; // override default ul
		st-style: none;
		background-color: @dropdownBackground;
		border: 1px solid #ccc; // Fallback for IE7-8
		border: 1px solid @dropdownBorder;
		*border-right-width: 2px;
		*border-bottom-width: 2px;
		.border-radius(6px);
		.box-shadow(0 5px 10px rgba(0,0,0,.2));
        background-clip: padding-box;

		// Aligns the dropdown menu to right
		&.pull-right {
			right: 0;
			left: auto;
		}

		// Dividers (basically an hr) within the dropdown
		.divider {
			.nav-divider(@dropdownDividerTop, @dropdownDividerBottom);
		}

		// Links within the dropdown menu
		a {
			display: block;
			padding: 3px 20px;
			clear: both;
			font-size: @baseFontSize;
			font-weight: normal;
			line-height: @baseLineHeight;
			color: @dropdownLinkColor;
			white-space: nowrap;
		}
	}
	.nav > li {
		position: relative;
	}
	.nav > li:hover > .nav-child,
	.nav > li > a:focus + .nav-child, {
		display: block;
	}
	.nav-child:before {
       position: absolute;
       top: -7px;
       left: 9px;
       display: inline-block;
       border-right: 7px solid transparent;
       border-bottom: 7px solid #ccc;
       border-left: 7px solid transparent;
       border-bottom-color: rgba(0, 0, 0, 0.2);
       content: '';
   }
   .nav-child:after {
       position: absolute;
       top: -6px;
       left: 10px;
       display: inline-block;
       border-right: 6px solid transparent;
       border-bottom: 6px solid #ffffff;
       border-left: 6px solid transparent;
       content: '';
   }
}

// Hover state
// -----------
.navigation .nav-child li > a:hover,
.navigation .nav-child li > a:focus,
.navigation .nav-child:hover > a {
  text-decoration: none;
  color: @dropdownLinkColorHover;
  background-color: @dropdownLinkBackgroundHover;
  #gradient > .vertical(@dropdownLinkBackgroundHover, darken(@dropdownLinkBackgroundHover, 5%));
}

@media (max-width: 480px) {
	.item-info > span {
		display:block;
	}
	.blog-item .pull-right.item-image {
		margin:0 0 18px 0;
	}
	.blog-item .pull-left.item-image {
		margin:0 0 18px 0;
		float:none;
	}
}
@media (max-width: 768px) {
	body {
		padding-top: 0;
	}
	.header {
		background:transparent;

	}
	.header .brand {
		float:none;
		display:block;
		text-align:center;
	}
	.header .nav.pull-right,
	.header-search {
		float:none;
		display:block;
	}
	.header-search form {
		margin: 0;
	}
	.header-search .search-query {
		width: 90%;
	}
	.header .nav-pills > li > a {
		border: 1px solid @tableBorder;
		border-bottom:0;
		margin:0;
		border-radius: 0;
		margin-right: 0;
	}
	.header .nav-pills > li:first-child > a {
		border-radius: 4px 4px 0 0;
	}
	.header .nav-pills > li:last-child > a {
		border-radius: 0 0 4px 4px;
		border-bottom:1px solid @tableBorder;
	}
	.modal.fade {
		top:-100%;
	}
	.nav-tabs {
		border-bottom: 0;
	}
	.nav-tabs > li {
		float: none;
	}
	.nav-tabs > li > a {
		border: 1px solid @tableBorder;
		border-radius: 0;
		margin-right: 0;
	}
	.nav-tabs > li:first-child > a {
		border-radius: 4px 4px 0 0;
	}
	.nav-tabs > li:last-child > a, .nav-tabs > .active:last-child > a {
		border-radius: 0 0 4px 4px;
		border-bottom:1px solid @tableBorder;
	}
	.nav-tabs > li > a:hover {
		border-color: @tableBorder;
		z-index: 2;
	}
	.nav-tabs.nav-dark > li > a {
		border: 1px solid @grayDark;
	}
	.nav-tabs > li:last-child > a, .nav-tabs > .active:last-child > a {
		border-bottom:1px solid @grayDark;
	}
	.nav-tabs.nav-dark > li > a:hover {
		border-color: @grayDark;
	}
	.nav-pills > li {
		float: none;
	}
	.nav-pills > li > a {
		margin-right: 0;
	}
	.nav-pills > li > a {
		margin-bottom: 3px;
	}
	.nav-pills  > li:last-child > a {
		margin-bottom: 1px;
	}
	.form-search > .pull-left,
	.form-search > .pull-right {
		float:none;
		display:block;
		margin-bottom:9px;
	}
}
@media (max-width: 980px) {
	.navbar-fixed-top {
		margin-bottom:0!important;
	}
	.item-comment .item-image{
		display:none;
	}
	.well {
		padding: 10px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	#login-form .input-small {
		width: 62px;
	}
}
// Page break
dl.tabs {
	float: left;
	margin-bottom: -1px;
}
dl.tabs dt.tabs {
	float: left;
	margin-left: 3px;
	padding: 4px 10px;
	background-color: #F0F0F0;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
dl.tabs dt:hover {
	background-color: #F9F9F9;
}
dl.tabs dt.open {
	background-color: #FFF;
	border-bottom: 1px solid #FFF;
}
dl.tabs dt.tabs h3 {
	margin: 0;
	font-size: 1.1em;
	font-weight: normal;
}
dl.tabs dt.tabs h3 a {
	color: #0088CC;
}
dl.tabs dt.tabs h3 a:hover {
	color: #005580;
	text-decoration: none;
}
dl.tabs dt.open h3 a {
	color: #000;
	text-decoration: none;
}
div.current dd.tabs {
	margin: 0;
	padding: 10px;
	clear: both;
	border: 1px solid #CCC;
	background-color: #FFF;
}










