* { padding:0; margin:0; border:0; outline:none }
body { background:center top url(body.jpg) repeat-x #608ebf; font-family:FreeSans,Helvetica,Arial; text-align:justify; font-size:13px; color:#332100; line-height:24px }
h1 { font-size:14px; font-variant:small-caps; padding-bottom:8px; min-height:48px;margin-top:14px }
h1:first-letter { font-size:48px }

.clear { clear:both }
.img_left { display:block; float:left; margin-right:8px; margin-bottom:4px }
.img_right { display:block; float:right; margin-left:8px; margin-bottom:4px }

a,input[type=submit] { cursor:pointer; text-decoration:underline; background:none; color:#473529 }

#body1 { width:984px; margin:0 auto; background:#151515 left repeat-y url(bordure.jpg) }
#body2 { background:right repeat-y url(bordure.jpg) }
#body3 { width:954px; padding-left:15px; padding-right:15px }

.ombre_droite { background:#000 right repeat-y url(ombre_droite.png) }
.ombre_bas { background:bottom repeat-x url(ombre_bas.png); padding-bottom:4px; padding-right:4px }

#bandeau { display:block; height:263px; background:bottom url(background1.jpg) no-repeat }
#arbre { float:right; position:relative; left:120px; margin-bottom:-69px; z-index:5 }
#ban { float:center; position:absolute; top:0px; padding-left:80px; z-index:5 }

#bord1 { background:center repeat-x url(bordure.png); margin-top:-3px; margin-bottom:-3px; position:relative; z-index:2 }
#bord2 { background:right center no-repeat url(coin-2.png); padding-right:17px }
#bord3 { background:left center no-repeat url(coin-1.png); padding-left:17px; height:21px }

#menu_ext { float:left; width:217px }
#menu { background:url(texture.png) }
#lierre { float:left; position:relative; left:-21px; top:-26px; margin-right:-100px; z-index:4 }
#lierre2 { clear:both; float:left; position:relative; left:-21px; top:-11px; margin-right:-100px }

#menu a { display:block; float:right; margin-top:24px; margin-right:10px; position:relative; width:159px; height:53px; background:center center no-repeat url(panneau.png);z-index:10; text-align:center; vertical-align:middle }
#menu a#la,#menu a:hover,#menu a:active,#menu a:focus { background-image:url(panneau-rollover.png) }
#menu a.pre { margin-top:180px; padding-top:5px; height:48px }

.blackhole { height:0; width:0 }
#fille { position:relative; left:750px; margin-top:-485px }
#mec { position:relative; left:750px; margin-top:-509px }

#droite { float:right; width:730px }
#nav { position:relative; left:-50px; top:-8px; margin-left:-19px; width:716px; padding-left:20px; padding-right:20px; height:52px; background:center center no-repeat url(barre-navigation.png); z-index:3; color:#8b5a00; margin-bottom:0 }
#nav a { color:#d3b378; font-weight:bold; line-height:44px; text-decoration:none }
#nav a:hover,#nav a:active,#nav a:focus { text-decoration:underline }

#main_ext { float:left; margin-left:6px; width:523px; margin-top:0 }
#main { background:#d3b378 url(main.png); min-height:700px; padding:16px }
#dl_ro,a#dl { float:right; width:179px; margin-right:10px; margin-top:0; height:137px; display:block; background:center center no-repeat url(client.png) }
#dl_ro,a#dl:hover,a#dl:active,a#dl:focus { background-image:url(client-rollover.png) }
a#forum { float:right; width:179px; margin-right:10px; margin-top:5px; height:108px; display:block; background:center center no-repeat url(forum.png) }
a#forum:hover,a#forum:active,a#forum:focus { background-image:url(forum-rollover.png) }

#mentions { clear:both; background:bottom center no-repeat url(bas.png); height:23px; line-height:23px; margin-top:8px; font-size:10px; text-align:center; color:#d3b378 }
#mentions a { color:#d3b378; text-decoration:none }
#mentions a:hover,#mentions a:active,#mentions a:focus { text-decoration:underline }

#diapo { border:1px #000 solid; margin:-1px; margin-top:8px; margin-bottom:8px; cursor:crosshair }
#leg { background:url(leg.png); padding:4px; font-weight:bold; text-align:center }

#bas { background:bottom center no-repeat url(bas.png); height:23px }

#bulleDiv { background:#FFF; padding:5px; border:2px solid #000; color:#000; font-weight:bold }
